.bordered {
    border: 1px solid black
}

.predictions_div {
    'overflow-x': 'scroll';
    width="700px";
}

.predictions_table {
    border-collapse: collapse;
    display: block;
    width=2000px;
}

ul {
    list-style-type: none;
}